@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';
@import 'base/mixins-m';

* {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/contacts';

// media-adaptation
@import 'blocks/media/sidepanel-m';
@import 'blocks/media/menu-m';
@import 'blocks/media/promo-m';
@import 'blocks/media/title-m';
@import 'blocks/media/buttons-m';
@import 'blocks/media/about-m';
@import 'blocks/media/resume-m';
@import 'blocks/media/skills-m';
@import 'blocks/media/portfolio-m';
@import 'blocks/media/contacts-m';