@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $mixin-main-color;
    margin: 10px auto 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/contacts';

// Адатация стилей в этом файле;

@media (max-width: 1295px) {

    .container {
        max-width: 960px;
    }
    
}

@media (max-width: 992px) {

    .container {
        max-width: 720px;
    }
    
}

@media (max-width: 768px) {

    .container {
        max-width: 540px;
    }
    
}

@media (max-width: 576px) {

    .container {
        width: 100%;
        padding: 0 15px;
    }
    
}