@media (max-width: 1200px) {
    .btn {
        height: 40px;
        padding: 8px 13px;
    }
}

@media (max-width: 992px) {
    .btn {
        height: 40px;
        padding: 8px 13px;
    }
}

@media (max-width: 768px) {
    .btn {
        height: 40px;
        padding: 8px 13px;
    }
}

@media (max-width: 576px) {
    .btn {
        height: 40px;
        padding: 8px 13px;
    }
}