@media (max-width: 1200px) {

    .container {
        max-width: 960px;
    }

    .promo {
        &_slider {
            display: none;
        }
    }
}

@media (max-width: 992px) {

    .container {
        max-width: 720px;
    }

    .promo {
        &_slider {
            display: none;
        }
    }
}

@media (max-width: 768px) {

    .promo {
        padding: 100px 0 100px 0;

        .hamburger {
            height: 15px;
            top: 25px;

            &_item {
                width: 20px;
                height: 3px;
            }
        }

        .container {
            max-width: 540px;

            .title {
                &_fz48 {
                    font-size: 24px;
                    line-height: 31px;
                }

                &_fz24 {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }
        
        &_title {
            margin-top: 20px;
            width: 300px;
        }

        &_subtitle {
            @include mobile_before_rectangle;
        }

        &_btns {
            margin-top: 10px;
            width: 200px;
            height: 100px;
            justify-content: space-between;
        }

        &_link {
            font-size: 14px;
            line-height: 21px;
            font-weight: bold;
        }

        &_slider {
            display: none;
        }
    }
}

@media (max-width: 576px) {

    .promo {
        padding: 100px 0 100px 0;

        .hamburger {
            height: 15px;

            &_item {
                width: 20px;
                height: 3px;
            }
        }

        .container {
            width: 100%;
            padding: 0 15px;

            .title {
                &_fz48 {
                    font-size: 18px;
                    line-height: 23px;
                }

                &_fz24 {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
        }

        &_subtitle {
            @include mobile_before_rectangle-320;

            &:before {
                top: 10px;
                left: 5px;
            }
        }

        &_btns {
            margin-top: 10px;
            width: 200px;
            height: 100px;
            justify-content: space-between;
        }
    }
}