@media (max-width: 1295px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 992px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 768px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 576px) {
    .sidepanel {
        display: none;
    }
}