@media (max-width: 768px) {
    @mixin mobile_before_rectangle {
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 5%;
            left: 5px;
            width: 15px;
            height: 15px;
            background: $mixin-main-color;
        }
    }
}

@media (max-width: 576px) {
    @mixin mobile_before_rectangle {
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 10%;
            left: 5px;
            width: 15px;
            height: 15px;
            background: $mixin-main-color;
        }
    }
}