@mixin m_before_rectangle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0%;
        left: 0;
        width: 30px;
        height: 30px;
        background: $mixin-main-color;
    }
}

@mixin before_rectangle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0%;
        left: 0;
        width: 40px;
        height: 40px;
        background: $mixin-main-color;
    }
}

@mixin s_before_rectangle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0%;
        left: 0;
        width: 30px;
        height: 30px;
        background: $mixin-skills-color;
    }
}

@mixin before_rectangle_2 {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0%;
        left: 0;
        width: 30px;
        height: 30px;
        background: #314455;
    }
}

// @mixin before_circle {
//     &:before {
//         content: '';
//         position: absolute;
//         z-index: 0;
//         top: -400px;
//         left: 55%;
//         width: 400px;
//         height: 400px;
//         background: #314455;
//         border-radius: 100%;
//         border: 2px solid #fff;
//     }
// }