$main-color: #644E5B;
$background-color: #C96567; 
$background-color: #E7B10A;
$text-color: #100e0e;
$social-color: #736356;
$background-skills: #9E5A63;

// Цвета для главного экрана;
$m-background-color: #E7B10A;
$m-button-color: #4C4B16;
$m-text-color: #F7F1E5;
$m-h-text-color: #E7B10A;

// Цвета для бокового меню;
$menu-bg-color: #4C4B16;
$menu-overlay-color: #F7F1E5;
$menu-icon-color: #F7F1E5;
$menu-h-icon-color: #E7B10A;
$menu-text-color: #F7F1E5;

// Цвета для боковой панели;
$sidepanel-icon-color: #4C4B16;
$sidepanel-h-icon-color: #898121;
$sidepanel-devider-color: #4C4B16;
$sidepanel-text-color: #4C4B16;
