.portfolio {
    margin-top: 120px;
    padding: 0 0 30px 0;

    &_title {
        position: relative;
        text-align: center;
        @include before_rectangle;

        &:before {
            width: 20px;
            height: 20px;
            top: 2px;
            left: 511px;
        }
    }

    &_subtitle {
        text-align: center;
    }

    &_wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(4, 270px);
        grid-row: minmax(270px, auto);
        gap: 10px;
        &item {
            &#portfolio_about {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
        // justify-content: space-between;
        // align-content: space-between;
        // &_item {
        // }
        // &_item &_about {

        // }
    }
}